/current-hour.txt
/current-song.txt
/input.xml
/latest-five.html
/latest-five-template.html
/output.html
/recent-songs.html
/recent-songs.txt
/recent-songs-template.html
/song-template.html
/template.html
old-*